{% extends "minimal_layout.html" %}
{% set navbar = True %}
{% block title %}{{ _('Overview') }}{% endblock %}
{% block content %}
{{ super() }}

{% if session.logged_in %}
<div class="row mb-3">
	<div class="col-12">
		<div class="card">
			<div class="card-header">
				<b>{{ dist }}</b> ({{ ip }})
				<span class="pull-right">
					<i style="margin-right:5px;"><span id="uptime">&nbsp;</span></i>
				</span>
			</div>
			<div class="card-body">
				<div class="row col-12">
					<div class="col-lg-4">
						<p>{{ _('CPU usage:') }} <span id="cpu-usage"></span></p>
						<div class="progress">
							<div class="progress-bar" id="cpu-usage-bar" style="width:0%;"></div>
						</div>
					</div>
					<div class="col-lg-4">
						<p>{{ _('Memory usage:') }} <span id="memory-usage"></span></p>
						<div class="progress">
							<div class="progress-bar" id="memory-usage-bar" style="width: 0%;"></div>
							<abbr title="{{ _('Cached memory') }}"><div class="progress-bar progress-bar-success" id="memory-cache-usage-bar" style="width: 0%;"></div></abbr>
						</div>
					</div>
					<div class="col-lg-4">
						<p>{{ _('Disk usage:') }} <span id="disk-usage"></span></p>
						<div class="progress">
							<div class="progress-bar" id="disk-usage-bar" style="width: 0%;"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endif %}

<div class="row mb-3">
	<div class="col-12">
		<div class="card">
			<div class="card-header">
				{{ _('Players in the last 7 days...') }}
			</div>
			<div class="card-block">
				<div class="card-text text-center" style="padding:0;">
					<div id="chart-machine-players7d"></div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row mb-3">
	<div class="col-12">
		<div class="card">
			<div class="card-header">
				{{ _('Players in the last 24 hours...') }}
			</div>
			<div class="card-body text-center" style="padding:0;">
				<div id="chart-machine-players24h"></div>
			</div>
		</div>
	</div>
</div>

<div class="row mb-3">
	<div class="col-12">
		<div class="card">
			<div class="card-header">
				{{ _('Most played mods in the last 7 days...') }}
			</div>
			<div class="card-body text-center" style="padding:0;">
				<div id="chart-machine-mods7d"></div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-12">
		<div class="card">
			<table id="twmslist" class="table table-sm table-hover table-striped table-vertical-aligned" style="display:none;">
				<thead>
					<tr>
						<th scope="col">{{ _('Server Name') }}</th>
						<th scope="col">{{ _('Game Type') }}</th>
						<th scope="col">{{ _('Players') }}</th>
						<th scope="col">{{ _('Map') }}</th>
						<!-- th>{{ _('Latency') }}</th -->
					</tr>
				</thead>
				<tbody></tbody>
			</table>
			<div id="twmslist-empty" style="padding:10px; display:none;" class="text-center text-muted"><i class="fa fa-warning"></i> {{ _('No local servers can be found on the master-server') }} <i class="fa fa-warning"></i></div>
			<div id="twmslist-load" style="padding:10px;" class="text-center"><b><i class="fa fa-refresh fa-spin"></i> {{ _('Searching for local servers in master list...') }}</b></div>
		</div>
	</div>
</div>
{% endblock %}
{% block script %}
	<script type="text/javascript">
		"use strict";
		var $BABEL_STR_UPTIME = {{_("Uptime:")|tojson|safe}};
		var $BABEL_STR_DAYS = {{_("day(s)")|tojson|safe}};
		var $BABEL_STR_PLAYERS = {{_("Players")|tojson|safe}};
		var $BABEL_STR_FREE = {{_("free")|tojson|safe}};
	</script>
	{% assets filters='jsmin', output='gen/overview.min.js', 'js/overview.js' %}
   		<script type="text/javascript" src="{{ ASSET_URL }}"></script>
	{% endassets %}
	{% if session.logged_in %}
	{% assets filters='jsmin', output='gen/overview_private.min.js', 'js/overview_private.js' %}
   		<script type="text/javascript" src="{{ ASSET_URL }}"></script>
	{% endassets %}
	{% endif %}
{% endblock %}
