{% extends "minimal_layout.html" %}
{% block title %}{{ _('Installation') }}{% endblock %}
{% block content %}
{{ super() }}

<div class="row">
	<form id="form-installation">
		<div class="col-8 offset-2 carrousel-fade pt-2">
			<div class="row carrousel-fade-list">
				<div class="item text-center text-upper">
					<i class="fa fa-sliders fa-5x"></i>
					<h1>{{_('TWP Installation')}}</h1>
					<p>
						{{_('Thanks for trust in TWP for manage your Teeworlds servers.<br/>Please, take a moment for complete the installation.')}}
					</p>
					<div class="row mt-1">
						<button type="button" class="btn btn-primary next">{{_('Next')}} <i class="fa fa-arrow-right"></i></button>
					</div>
				</div>
				<div class="item">
					<label for="adminuser">{{_('Admin Username')}}:</label>
					<input type="text" id="adminuser" name="adminuser" class="form-control" placeholder="{{_('Admin Username')}}" required/>
					<label for="adminpass">{{_('Admin Password')}}:</label>
					<input type="password" id="adminpass" name="adminpass" class="form-control" placeholder="{{_('Admin Password')}}" required/>
					<label for="radminpass">{{_('Repeat Admin Password')}}:</label>
					<input type="password" id="radminpass" name="radminpass" class="form-control" placeholder="{{_('Repeat Admin Password')}}" required/>
					<label for="brand">{{_('Brand')}}:</label>
					<input type="text" id="brand" name="brand" class="form-control" value="{{appconfig.brand}}" placeholder="{{_('Brand')}}" />
					<label for="brand-url">{{_('Brand URL')}}:</label>
					<input type="text" id="brand-url" name="brand-url" class="form-control" value="{{appconfig.brand_url}}" placeholder="{{_('Brand URL')}}" />
					<div class="row text-center mt-1">
						<input type="submit" class="btn btn-success" id="finish-install" value="{{_('Finish')}}" />
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
{% endblock %}
{% block script %}
<script type="text/javascript">
	"use strict";
	$(function(){
		$('#form-installation').submit(function(ev){
			$.post('/_finish_installation', $('#form-installation').serialize(), function(data){
				check_server_data(data);

				if (data['success'])
					window.location.href = '/';
			});
			ev.preventDefault();
		});

		// Admin Password Check
		$(document).on('input', '#radminpass,#adminpass', function() {
			var $pass = $('#adminpass');
			var $rpass = $('#radminpass');
			if ($pass.val() !== $rpass.val())
				$rpass[0].setCustomValidity("{{_("Passwords don't match!")}}");
			else
				$rpass[0].setCustomValidity('');
		})
	});
</script>
{% endblock %}
