{% extends "minimal_layout.html" %}
{% set navbar = True %}
{% block title %}{{ _('Server Log') }}{% endblock %}
{% block content %}
{{ super() }}

{% if server %}

<ol class="breadcrumb">
	<li class="breadcrumb-item"><a href="/servers">{{_('Servers')}}</a></li>
	<li class="breadcrumb-item">{{server.base_folder}}</li>
	<li class="breadcrumb-item"><a href="/server/{{server.id}}">{% if is_online %}{{netinfo.name}}{% else %}{{server.name}}{% endif %}</a></li>
	<li class="breadcrumb-item active">logs</li>
</ol>

{% if logdate %}
<div class="row mb-4">
	<div class="col-12 border border-top-0 border-left-0 border-right-0">
		<h1><i class="fa fa-calendar"></i> {{logdate}}</h1>
	</div>
</div>
{% endif %}

{% if session.logged_in %}
  	<div class="tab-pane" id="log">
  	{% if not logdate %}
  		<h1 class="text-center tex-muted mt-3">
	  		<span class="fa-stack fa-lg">
			  <i class="fa fa-file-text-o fa-stack-1x"></i>
			  <i class="fa fa-ban fa-stack-2x text-danger"></i>
			</span>
			{{ _('NO LOG DEFINED') }}
	  		<span class="fa-stack fa-lg">
			  <i class="fa fa-file-text-o fa-stack-1x"></i>
			  <i class="fa fa-ban fa-stack-2x text-danger"></i>
			</span>
		</h1>
	{% else %}
		{% include 'includes/server_log.html' %}
  	{% endif %}
  	</div>
{% endif %}

{% else %}
<h1 class="text-center"><i class="fa fa-frown-o fa-lg"></i><br/>{{ _('SERVER NOT FOUND') }}</h1>
{% endif %}


{% endblock %}
{% block script %}
	{% if server %}
	<script type="text/javascript">
		"use strict";
		var $SRVID = {{ server.id|tojson|safe }};
		var $SRVLOGCODE = {{ logcode|tojson|safe }};
		var $SRVLOGNAME = {{ logname|tojson|safe }};
	</script>
	{% endif %}
	{% assets filters='jsmin', output='gen/log.min.js', 'js/log.js' %}
   		<script type="text/javascript" src="{{ ASSET_URL }}"></script>
	{% endassets %}
{% endblock %}
