{% extends "minimal_layout.html" %}
{% set navbar = True %}
{% block title %}{{ _('Servers') }}{% endblock %}
{% block content %}
{{ super() }}

{% if session.logged_in and session.uid == SUPERUSER_ID %}
<div class="row">
	<div class="space-bottom">
		<form action="{{ url_for('twp.install_mod') }}" method="POST" enctype="multipart/form-data" id="install-mod">
			{{ install_mod_form.hidden_tag() }}
			<div class="dropdown">
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="install-mod-button">
					<i class="fa fa-puzzle-piece"></i> {{ _('Install Mod') }} <span class="caret"></span>
				</button>
			    <ul class="dropdown-menu">
			    	<li>
			    		<a class="dropdown-item" href="#" data-toggle="modal" data-target="#modal_import_git"><i class="fa fa-fw fa-git-square"></i> <b>From Git</b></a>
			    	</li>
			    	<li>
			    		<a class="dropdown-item" href="#" id='install-mod-url'><i class="fa fa-fw fa-external-link-square"></i> {{ install_mod_form.url.label }}</a>
			    		{{ install_mod_form.url }}
			    	</li>
			    	<li>
			    		<a class="dropdown-item btn-file" href="#"><i class="fa fa-fw fa-file-zip-o"></i> {{ install_mod_form.file.label }}
			    			{{ install_mod_form.file }}
			    		</a>
			    	</li>
			    </ul>
		    </div>
		</form>
	</div>
</div>
{% endif %}


{% for srv in servers %}
<div class="row mb-3">
	<div class="col-12">
		<div class="card">
			<div class="card-header text-white bg-dark">
				<b style="font-size:x-large;">{{srv}}</b>
				{% if session.logged_in and session.uid == SUPERUSER_ID %}
				<span class="pull-right">
					<button type="button" class="btn btn-sm btn-outline-info map-manager" data-toggle="modal" data-mod="{{srv}}" data-target="#modal_map_manager"><i class="fa fa-map"></i> {{ _('Maps') }}</button>
					<button type="button" class="btn btn-sm btn-outline-info" data-toggle="modal" data-mod="{{srv}}" data-target="#modal_new_server"><i class="fa fa-plus-circle"></i> {{ _('Create Instance') }}</button>
					<button type="button" class="btn btn-sm btn-danger remove-mod" data-mod="{{srv}}" title="{{ _('Remove Mod') }}"><i class="fa fa-trash"></i></button>
				</span>
				{% endif %}
			</div>

			{% set mod_instances = get_mod_instances(srv) %}
			{% if mod_instances %}
			{% set server_bins = get_mod_binaries(srv) %}
			<table class="table table-responsive-sm table-hover table-striped table-vertical-aligned">
				<thead>
					<tr>
						<th scope="col">&nbsp;</th>
						<th scope="col">{{ _('Status') }}</th>
						<th scope="col">{{ _('Port') }}</th>
						<th scope="col">{{ _('Game Type') }}</th>
						<th scope="col">{{ _('Server Name') }}</th>
						<th scope="col">&nbsp;</th>
					</tr>
				</thead>
				<tbody>
					{% for mod_inst in mod_instances %}
					{% set uidperms = get_uid_permission_level(mod_inst.id) %}
					<tr id="srv-line-{{mod_inst.id}}" class="{% if mod_inst.status %}success{% endif %}">
						<td class="srv-flags">
							<i class="fa fa-refresh tw-alaunch {{ not mod_inst.alaunch and 'text-muted' or '' }}" title="{{ mod_inst.alaunch and _('Auto-Launch') or _('Not Auto-Launch') }}"></i>
							<i class="fa {{ mod_inst.visible and 'fa-eye' or 'fa-eye-slash text-muted' }} tw-no-register" title="{{ mod_inst.visible and _('Register Server') or _('Not Register Server') }}"></i>
							<i class="fa fa-lock tw-password {{ mod_inst.public and 'text-muted' or '' }}" title="{{ mod_inst.public and _('Public Server') or _('Private Server') }}"></i>
						</td>
						<td class="srv-status">{{_("Running") if mod_inst.status else _("Stopped")}}</td>
						<td class="srv-port">{{mod_inst.port}}</td>
						<td class="srv-gametype">{{mod_inst.gametype}}</td>
						<td class="srv-name">{{mod_inst.name|truncate(length=45)}}</td>
						<td class="text-right">
							<a class="btn btn-outline-primary btn-sm btn-default" href="/server/{{mod_inst.id}}" title="{{ _('Server Instance Information') }}"><i class="fa fa-info"></i></a>
							{% if session.logged_in %}
								{% if uidperms.config %}
								<button type="button" class="btn btn-sm btn-secondary" data-mod="{{srv}}" data-id="{{mod_inst.id}}" data-toggle="modal" data-target="#modal_instance_configuration"><i class="fa fa-pencil-square-o"></i> {{ _('Config') }}</button>
								{% endif %}
								{% if not mod_inst.status %}
								{% if uidperms.start %}
								<div class="dropdown btn-group" id="btn-play-srv-{{mod_inst.id}}">
							    <button type="button" data-id="{{mod_inst.id}}" class="start-instance btn btn-sm btn-success {% if mod_inst.bin == None %}disabled{% endif %}">
						        <i class="fa fa-play"></i> {{ _('Start') }}
							    </button>
							    <button type="button" class="btn btn-sm btn-success dropdown-toggle" data-toggle="dropdown">
						        <span class="caret"></span>
							    </button>
							    <div class="dropdown-menu" data-id="{{mod_inst.id}}">
							    	{% if not server_bins == None %}
							    		{% for bin in server_bins %}
							    		<a href="#" class="dropdown-item {% if mod_inst.bin == bin %}active{% endif %} menu-item-server-bin">{{bin}}</a>
							    		{% endfor %}
							    	{% endif %}
							    	{% if server_bins == None or not any(server_bins) %}
							    	<span class="dropdown-item text-center text-muted bg-warning"><i class="fa fa-warning"></i> {{ _('No binaries found!') }}</span>
							    	{% endif %}
							    </div>
								</div>
								{% endif %}
								{% if session.uid == SUPERUSER_ID %}
								<button type="button" class="remove-server-instance btn btn-outline-danger border-0 btn-sm btn-delete-row" data-mod="{{srv}}" data-id="{{mod_inst.id}}" title="{{ _('Remove Server Instance') }}"><i class="fa fa-remove"></i></button>
								{% endif %}
								{% elif mod_inst.status %}
									{% if uidperms.econ and mod_inst.econ_port and mod_inst.econ_password %}
									<button type="button" data-id="{{mod_inst.id}}" class="admin-instance btn btn-sm btn-info" data-toggle="modal" data-target="#modal_external_console">
						        <i class="fa fa-tty"></i> {{ _('ECon Admin') }}
							    </button>
							    {% endif %}
							    {% if uidperms.stop %}
									<button type="button" data-id="{{mod_inst.id}}" class="stop-instance btn btn-sm btn-danger">
							        <i class="fa fa-stop"></i> {{ _('Stop') }}
							    </button>
							    {% endif %}
								{% endif %}
							{% endif %}
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			{% else %}
			<div class="panel-body text-center text-muted">
				<i>{{ _('No instances defined!') }}</i>
			</div>
			{% endif %}
		</div>
	</div>
</div>
{% endfor %}

{% if not any(servers) %}
<div class="card bg-warning">
	<div class="card-body text-center text-muted">
		{{ _('No servers found!') }}
	</div>
</div>
{% endif %}

{% if session.logged_in %}
	{% include 'includes/modal_new_server.html' %}
	{% include 'includes/modal_map_manager.html' %}
	{% include 'includes/modal_instance_configuration.html' %}
	{% include 'includes/modal_external_console.html' %}
	{% include 'includes/modal_import_git.html' %}
{% endif %}

{% endblock %}
{% block script %}
	<script type="text/javascript">
		"use strict";
		var $BABEL_STR_INSTALLING = {{_("Installing")|tojson|safe}};
		var $BABEL_STR_UPLOADING = {{_("Uploading")|tojson|safe}};
		var $BABEL_STR_UNEXPECTED_ERROR = {{_("Unexpected error!")|tojson|safe}};
		var $BABEL_STR_PLEASE_WAIT = {{_("PLEASE WAIT...")|tojson|safe}};
		var $BABEL_STR_URL_TO_PACKAGE = {{_("URL to .zip or .tar.gz Teeworlds Package:")|tojson|safe}};
		var $BABEL_STR_GIT_TO_PACKAGE = {{_("URL to .git repository:")|tojson|safe}};
		var $BABEL_STR_INSTALLING = {{_("Installing...")|tojson|safe}};
		var $BABEL_STR_DELETE_CONF = {{_("Delete configuration file from disk.")|tojson|safe}};
		var $BABEL_STR_SERVER_INSTANCE = {{_("Server Instance")|tojson|safe}};
		var $BABEL_STR_URL_SENDING = {{_("Sending...")|tojson|safe}};
		var $BABEL_STR_INSTANCE_CONF = {{_("Instance Configuration")|tojson|safe}};
		var $BABEL_STR_PUBLIC_SERVER = {{_("Public Server")|tojson|safe}};
		var $BABEL_STR_PRIVATE_SERVER = {{_("Private Server")|tojson|safe}};
		var $BABEL_STR_NOT_REGISTER_SERVER = {{_("Not Register Server")|tojson|safe}};
		var $BABEL_STR_REGISTER_SERVER = {{_("Register Server")|tojson|safe}};
		var $BABEL_STR_STARTING = {{_("Starting...")|tojson|safe}};
		var $BABEL_STR_START = {{_("Start")|tojson|safe}};
		var $BABEL_STR_THIS_CANT_BE_CANCELED = {{_("This can't be canceled and erase all mod data on the disk!!")|tojson|safe}};
		var $BABEL_STR_REMOVE = {{_("Remove")|tojson|safe}};
		var $BABEL_STR_CANCEL = {{_("Cancel")|tojson|safe}};
		var $BABEL_STR_REMOVE_MAP = {{_("Remove Map")|tojson|safe}};
		var $BABEL_STR_SENDING = {{_("Sending...")|tojson|safe}};
		var $BABEL_STR_TITLE_SERVER_ONLINE_CONFIG = {{_("SERVER ONLINE")|tojson|safe}};
		var $BABEL_STR_SERVER_ONLINE_CONFIG = {{_("Attetion: Server Online. The new configuration will not take effect until you restart the server.")|tojson|safe}};
		var $BABEL_STR_RESTART = {{_("Restart")|tojson|safe}};
		var $BABEL_STR_AUTOLAUNCH = {{_("Auto-Launch")|tojson|safe}};
		var $BABEL_STR_NOT_AUTOLAUNCH = {{_("Not Auto-Launch")|tojson|safe}};
	</script>
	{% assets filters='jsmin', output='gen/servers.min.js', 'js/servers.js' %}
   		<script type="text/javascript" src="{{ ASSET_URL }}"></script>
	{% endassets %}
{% endblock %}
