{% extends "minimal_layout.html" %}
{% block title %}{{ _('User Registration') }}{% endblock %}
{% block content %}
{{ super() }}

<div class="row">
	<div class="col-12">
		<form id="form-user-reg" action="/user_reg/{{user.token}}" method="POST">
			{{ reg_form.hidden_tag() }}
			<input type='hidden' name='token' value='{{user.token}}' />
			<div class="col-6 offset-3 carrousel-fade pt-8">
				<div class="row carrousel-fade-list">
					<div class="item text-center text-upper">
						<i class="fa fa-user fa-5x"></i>
						<h1>{{_('Welcome to %%s') % request.host.split(':')[0]|safe}}</h1>
						<p>
							{{_('You are invited for be a member of the staff!<br/>Please, take a moment for complete the registration.')}}
						</p>
						<div class="row mt-4">
							<button type="button" class="ml-auto btn btn-primary next">{{_('Next')}} <i class="fa fa-arrow-right"></i></button>
						</div>
					</div>
					<div class="item {{ last_page and 'active' or '' }}">
						{{ reg_form.username.label }}:
					    {{ reg_form.username(size=12,class='form-control',autofocus='autofocus',required='required') }}
						{{ reg_form.userpass.label }}:
					    {{ reg_form.userpass(size=128,class='form-control',required='required') }}
						{{ reg_form.ruserpass.label }}:
					    {{ reg_form.ruserpass(size=128,class='form-control',required='required') }}
						<div class="row mt-4">
							<div class="col-12 text-center">
								{{ reg_form.submit(class='btn btn-success') }}
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
{% endblock %}
{% block script %}
	{% assets filters='jsmin', output='gen/user_register.min.js', 'js/user_register.js' %}
   		<script type="text/javascript" src="{{ ASSET_URL }}"></script>
	{% endassets %}
{% endblock %}
