{% extends "minimal_modal.html" %}
{% set modal_id = 'modal_external_console' %}

{% block head_content %}
<h4 class="modal-title">{{ _('External Console') }}</h4>
<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
{% endblock %}

{% block body_content %}
<div class="modal-body">
	<div class="row">
    	<div class="col-12">
			<form id='form-econ' class="deny-enter form-horizontal">
				<input type="hidden" name="srvid" id="srvid" />
			    <div class="input-group">
			    	<input type="text" id="cmd" name="cmd" class="form-control" placeholder="{{ _('Command...') }}"/>
			    	<span class="input-group-btn">
			    		<button class="btn btn-primary" id="send-econ-command" type="button">{{ _('Send') }}</button>
			    	</span>
			    </div>
			</form>
			<textarea style="resize: none; height:300px;" class="well col-md-12" id="econ-log" readonly></textarea>
		</div>
	</div>
</div>
{% endblock %}

{% block footer_content %}
<div class="modal-footer">
	<button type="button" class="btn btn-primary" data-dismiss="modal">{{ _('Close') }}</button>
</div>
{% endblock %}
