{% extends "minimal_modal.html" %}
{% set modal_id = 'modal_create_permission_level' %}

{% block head_content %}
<h4 class="modal-title">{{ _('Create Permission Level') }}</h4>
<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
{% endblock %}

{% block body_content %}
<div class="modal-body">
	<div class="row">
		<div class="col-12">
			<form id='form-create-permission-level' class="deny-enter form-vertical">
				<div class="mb-1">
					<input type="text" name="name" id="name" class="form-control" placeholder="{{_('Permission Name')}}" required/>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}

{% block footer_content %}
<div class="modal-footer">
	<button type="button" class="btn btn-primary" data-dismiss="modal">{{ _('Cancel') }}</button>
	<button type="button" class="btn btn-success">{{ _('Create') }}</button>
</div>
{% endblock %}
